<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de Funcionários</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/funcionarios/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Funcionários</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	
	            <p>
	                <i class="oi oi-magnifying-glass"></i><span></span>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNome"
	                        aria-controls="collapseNome">Nome
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCargo"
	                        aria-controls="collapseCargo">Cargo
	                </button>
	                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseData"
	                        aria-controls="collapseData">Datas
	                </button>
	            </p>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/nome">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseCargo">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/cargo">
	                                <select class="form-control mr-sm-2" name="cargo" aria-label="Search">
	                                    <option value="">Cargo</option>
	                                    <option value="1">Auxiliar Contábil</option>
	                                    <option value="2">Auxiliar Administrativo</option>
	                                    <option value="3">Contador</option>
	                                    <option value="4">Adminitrador</option>
	                                    <option value="5">Programado PHP</option>
	                                    <option value="6">Desenvolvedor Java Jr.</option>
	                                    <option value="7">Desenvolvedor Java Pleno</option>
	                                    <option value="8">Desenvolvedor Java Senior</option>
	                                    <option value="9">Auxiliar de RH</option>
	                                    <option value="10">Coordenador de RH</option>
	                                    <option value="11">Psicologo</option>
	                                </select>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseData">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/data">
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       name="entrada" />
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       name="saida" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Salário</th>
	                        <th>Departamento</th>
	                        <th>Cargo</th>
	                        <th>Endereço</th>
	                        <th>Data de Entrada</th>
	                        <th>Data de Saída</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr th:each="funcionario : ${funcionarios}" th:id="${funcionario.id}">
	                        <td th:text="${funcionario.id}"></td>
	                        <td th:text="${funcionario.nome}"></td>
	                        <td th:text="|R$ ${{funcionario.salario}}|"></td>
	                        <td th:text="${funcionario.cargo.departamento.nome}"></td>
	                        <td th:text="${funcionario.cargo.nome}"></td>
	                        <td>
	                            <button type="button" class="btn btn-secondary btn-sm" data-container="body"
	                                    data-toggle="popover" data-placement="top"
	                                    th:attr="data-content=${#strings.concat(
	                                    funcionario.endereco.logradouro, ', ',
	                                    funcionario.endereco.numero, ' ',
	                                    funcionario.endereco.complemento, ' - ',
	                                    funcionario.endereco.bairro, ', ',
	                                    funcionario.endereco.cidade, ' - ',
	                                    funcionario.endereco.uf.sigla, ' - ',
	                                    funcionario.endereco.cep
	                                    )}">
	                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                        <td th:text="${#dates.format(funcionario.dataEntrada, 'dd-MM-yyyy')}"></td>
							<td th:text="${funcionario.dataSaida == null ? 'Sem registro' : #dates.format(funcionario.dataSaida, 'dd-MM-yyyy')}"></td>

							<td colspan="2">
								<button id="" type="button" class="btn btn-info btn-sm" data-toggle="modal" th:data-target="'#funcionario-editar-'+${funcionario.id}">
									<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
								</button>
	                            <button id="btn_funcionarios/excluir/1" type="button" class="btn btn-danger btn-sm"
	                                    data-toggle="modal" th:data-target="'#funcionario-'+${funcionario.id}">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
							<!--modal excluir-->
							<div class="modal fade" th:id="'funcionario-'+${funcionario.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Excluir funcionario</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											Deseja realmente exlcuir esse funcionario?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
											<button type="button" class="btn btn-danger" th:onclick="'excluir(' + ${funcionario.id} + ')'">Confirmar</button>
										</div>
									</div>
								</div>
							</div>

							<!--modal editar-->
							<div class="modal fade" th:id="'funcionario-editar-'+${funcionario.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabell">Editar funcionario</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form action="/funcionarios/editar" method="POST">
											<input type="hidden" name="id" th:value="${funcionario.id}">
											<div class="modal-body">
												<div class="form-row">
													<div class="form-group col-md-6">
														<label>Nome do Funcionário</label>
														<input type="text" class="form-control" th:id="'editar-nome-'+${funcionario.id}" required placeholder="Nome Completo"
															   autofocus="autofocus" name="nome" th:value="${funcionario.nome}"/>
													</div>
													<div class="form-group col-md-6">
														<label for="salario">Salário Bruto</label>
														<input type="text" class="form-control" id="salario" data-mask="#.##0,00"
															   data-mask-reverse="true" required th:value="${funcionario.salario}" name="salario"/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="dataEntrada">Data de entrada</label>
														<input type="date" class="form-control" required id="dataEntrada" name="dataEntrada"/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="dataSaida">Data de saída</label>
														<input type="date" class="form-control" id="dataSaida" name="dataSaida" required/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="cargo">Cargo</label>
														<select id="cargo" class="form-control">
															<option th:value="${funcionario.cargo.id}" th:text="${funcionario.cargo.nome}"></option>
															<option th:each="cargo : ${cargos}" th:text="${cargo.nome}" th:value="${cargo.id}"></option>
														</select>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="cidade">Cidade</label>
														<input type="text" class="form-control" id="cidade" th:value="${funcionario.endereco.cidade}" />
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="logradouro">Logradouro</label>
														<input type="text" class="form-control" id="logradouro" th:value="${funcionario.endereco.logradouro}"/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="numero">Número</label>
														<input type="text" class="form-control" id="numero" th:value="${funcionario.endereco.numero}"/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="complemento">Complemento</label>
														<input type="text" class="form-control" id="complemento" th:value="${funcionario.endereco.complemento}"/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="bairro">Bairro</label>
														<input type="text" class="form-control" id="bairro" th:value="${funcionario.endereco.bairro}"/>
														<div class="invalid-feedback">

														</div>
													</div>
													<div class="form-group col-md-6">
														<label for="cargo1">UF</label>
														<select id="cargo1" class="form-control">
															<option selected th:text="${funcionario.endereco.uf.sigla}" th:value="${funcionario.endereco.uf}"></option>
															<option th:each="uf : ${ufs}" th:text="${uf.name()}" th:value="${uf}"></option>
														</select>
														<div class="invalid-feedback">

														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
												<button type="submit" class="btn btn-success" >Confirmar</button>
											</div>
										</form>
									</div>
								</div>
							</div>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </section>
</body>
</html>
<script>

	function excluir(funcionarioId) {
		var url = 'http://localhost:8080/funcionarios/excluir/';
		$.ajax({
			method: "DELETE",
			url: url+funcionarioId,
			data: {}
		})
		document.getElementById(funcionarioId).style.display = "none";
		$('#funcionario-'+funcionarioId).modal('hide');
		toastr.success("Excluido com sucesso!");
	}

</script>